.contain-keys{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.contain-keys .line {
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.key{
    margin: 0 1px;
    border-radius: 5px;
    background-color: #eeeeee;
    height: 48px;
    width: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #ffeb8f;
}

.result{
    margin: 50px auto;
    border-radius: 7px;
    padding: 5px;
    width: 800px;
    min-height: 19px;
    box-shadow: 5px 5px 40px black;
}